.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 18rem;
    margin: 70px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    background-color: #f8f9fa;
  }
  
  .card-title {
    color: #007bff;
  }
  
  .card-text {
    color: #6c757d;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
  }
  